@model Capstone_Integracion_2.Models.TABLA_CAPSTONE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TABLA_CAPSTONE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tecnica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
